/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* colores */
:root{
    --background: rgb(245, 243, 236);
    --cBackgrdCard: rgb(237, 232, 215);
    --verdeAzulado: rgb(17, 157, 164);
    --blancoPlatino: rgb(232, 232, 232);
    --azulEgipcio: rgb(9, 53, 149);
    --negroElegante: rgb(5, 5, 5);
}
/* normalize */
*{
    border: none;
    box-sizing: border-box;
    padding:0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
header nav{
    height: 100px;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background);
}
/*Logo*/
#logo{
    right: 42%;
}

img {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
}
label {
    text-decoration: none;
    list-style: none;
}

/*Navbar*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    background-color: #119da4;
    color: #fff;
}
.nav-links label {
    color: #fff;
}

/* Menú Navbar */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu:hover{
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu label:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu label {
    padding: 5px 14px;
}
/* Menú Dropdown */
.services {
    position: relative;
}
.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown:hover{
    border-radius: 5px;
    transition: 0.3s ease;
}
.dropdown label + label {
    margin-top: 10px;
}
.dropdown label {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown label:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
.services:hover .dropdown {
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
/*Navbar Responsive*/
/* Verificación */
input[type="checkbox"] {
    display: none;
}
/*Menú Hamburguesa*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
/* CODIGO PRUEBA*/
.containerTitle {
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 1;
    visibility: visible;
    transform: scale(0.90);
    padding: 30px;
    padding-bottom: 40px;
}
/* CODIGO ORIGINAL
.containerTitle div{
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 1;
    visibility: visible;
    transform: scale(0.90);
    padding: 30px;
    padding-bottom: 40px;
}
*/
#radio1,#radio2,#radio3,#radio4,#radio5{
    display: none;
}

#radio1:checked ~ .tab1,
#radio2:checked ~ .tab2,
#radio3:checked ~ .tab3,
#radio4:checked ~ .tab4,
#radio5:checked ~ .tab5
{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: all 600ms ease;
}
.title h2{
	font-size: 50px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}
.text{
	font-size: 30px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:auto;
}

/* cards */
.card {
    /*diseño*/
    background-color: var(--cBackgrdCard);
    border-radius: 14px;
    box-shadow: 0 14px 14px rgba(0, 0, 0, 0.2);
    margin: 8px;

    /*disposicion*/
    display: flex;	
    overflow: hidden;
}

.card .left-column img{
    width: auto;
    height: 400px;
    overflow: hidden;
}

.card h6 {
    opacity: 0.6;	
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.card  h2 {
    font-weight: bolder;
    letter-spacing: 1.6px;
    margin: 16px 0;
    font-size: 30px;
}

.left-column {	
    max-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.right-column {
    color: var(--cBackgrd);
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    
}

.right-column p{	
    font-size: 14.4px;
}


/*boton turno*/
.btn1 {
    /*diseño*/
    color: #fff;
    background: linear-gradient(250deg, #093595,#119DA4);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 48px;
    font-size: 19.2px;
    letter-spacing: 1.6px;
    /*disposicion*/
    padding: 12.8px 24px;
    align-self: flex-end;
}
.btn1:hover{
    transform: scale(1.1);
}
.btn1::before{
    content: 'Solicitar turno';
}
.btn1:hover::before{
    top: -30px;
}







/* Responsive */
@media (max-width: 700px) {
    .title{
        font-size: 40px;
    }
    .text{
        font-size: 20px;
    }
	.container{           
         display: flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height:auto;
	}
    .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    }
    .menu label:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
    }
    .menu label + label {
    margin-top: 12px;
    }
    input[type="checkbox"]:checked ~ .menu {
    display: block;
    }
    .hamburger {
    display: block;
    }
    .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
    }
    .dropdown label:hover {
    background-color: coral;
    }
    img {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    right: 40px;
    }
    .card .left-column img{
        width: auto;
        height: 400px;
        overflow: hidden;
    }
    .card .left-column img{
        display: none;

    }
}
@media (min-width: 700px) {
    body
    .title{
        font-size: 40px;
    }
    .text{
        font-size: 20px;
    }
    .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    }
    .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
    }
    .menu li + li {
    margin-top: 12px;
    }
    input[type="checkbox"]:checked ~ .menu {
    display: block;
    }
    .hamburger {
    display: block;
    }
    .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
    }
    .dropdown li:hover {
    background-color: coral;
    }
    img {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    right: 170px;
    }
    #logo {
        right: 50%;
    }   
}
@media (max-width: 1030px) {
    #logo{
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    .title{
        font-size: 40px;
    }
    .text{
        font-size: 20px;
    }
	.container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height:auto;
	}
    .card .left-column img{
        width: auto;
        height: 400px;
        overflow: hidden;
    }
}